:root {
    --step--2: clamp(0.69rem, calc(0.59rem + 0.52vw), 0.96rem);
    --step--1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.20rem);
    --step-0: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
    --step-1: clamp(1.20rem, calc(0.94rem + 1.32vw), 1.88rem);
    --step-2: clamp(1.44rem, calc(1.09rem + 1.76vw), 2.34rem);
    --step-3: clamp(1.73rem, calc(1.26rem + 2.35vw), 2.93rem);
    --step-4: clamp(2.07rem, calc(1.45rem + 3.10vw), 3.66rem);
    --step-5: clamp(2.49rem, calc(1.67rem + 4.08vw), 4.58rem);
    --themecolor: #ff523b;
    --fontcolor: #555;


}

/* ::-webkit-scrollbar {
    
   display: none;
    
  } */


.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 25px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 10px;
    font-size: var(--step-1);
    color: white;
}

.logo a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: var(--step-1);

}


.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {

    color: aqua;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url(./assets/mainbg.gif);
    z-index: 10;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.title {
    margin-top: 5rem;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 150px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 1rem;
    padding: 10px 40px;
    border: 2px solid var(--theme-color-2);
    color: #fff;
    text-decoration: none;
    background: var(--theme-color-2);
    border-radius: 10%;
}

.btn:hover {
    background: none;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 50px 0;
    background: #303030;
    height: 50rem
}

.ini-contain {

    padding: 1px 0;
    background: #303030;
    height: 20rem
}


.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: centers;
}

.box-container .box {
    height: 170px;
    width: 270px;
    background: #171717;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    margin: 20px;
}

.box-container .box i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #e91e63;
    font-size: 25px;
    margin: 10px 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #e91e63;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.price {
    background: url(./assets/lagobg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-top: 1rem;
}


.about {
    background: white;
    padding: 90px 0;
}

.box-container2 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-wrap: wrap;
}

.box-container2 .box {
    width: 50%;
    height: 150px;
    padding-bottom: 70px;
    text-align: center;
    box-shadow: 0 15px 15px rgb(83, 83, 83);
    background: #000000;
    margin: 4px 4px;
}

.box-container2 .box img {
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    object-fit: cover;
    margin-top: -2px;

}

.box-container2 .box h3 {
    font-size: 20px;
    color: var(--theme-color);
    padding-top: 10px;
}

.box-container2 .box p {

    font-size: 15px;
    color: rgba(255, 255, 255, 0.589);
    padding: 0;
}

.box-container2 .box .stars i {
    font-size: 15px;
    color: var(--theme-color);
}

.flex-container {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
    width: 90%;
}

.contact {
    padding: 50px 0;
    background: black;
}


.footer-section {
    display: flex;

}

.f-enlaces {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.f-enlaces p {
    color: rgba(255, 255, 255, 0.507);
    text-decoration: none;


}

i {

    margin: 10px;
}

.curved-background__curved {
    /* Background color */
    background-color: #303030;
    position: absolute;

    /* You can use gradient background color such as */
    /* background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */

    /* Curved corners */
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;

    /* Size */
    height: 50%;
    width: 100%;

}

.content2 {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau2 {
    padding-top: 10rem;
    padding-bottom: 15rem;
    background: white;
    height: 50rem
}

a {
    text-decoration: none;


}


p {
    color: var(--fontcolor);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}


.small-container {
    max-width: 1700px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 20%;
    padding: 10px;
    min-width: 100px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: transform 0.5s;

}

.col-4 img {
    width: 120px;
    height: 120px;

}

.col-4:hover {
    transform: translateY(-6px);
}

/* ------all products page------*/




@media (max-width: 768px) {
    p {
        padding: 0 50px;
    }

    .title {
        margin-bottom: 0px;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
        padding: 50px 0;
    }

    .about {
        height: 100vh;
        padding: 50px 0;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
    }

    .f-enlaces {
        display: none;
    }

    .navbar {
        display: none;
    }
}

/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 89%;
    }
}

.skills .skill .photoshop {
    width: 0%;
    animation: 2s photoshop forwards;
}

@keyframes photoshop {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skills .skill .wordpress {
    width: 0%;
    animation: 2s wordpress forwards;
}

@keyframes wordpress {
    0% {
        width: 0%;
    }

    100% {
        width: 81%;
    }
}

.skills .skill .drupal {
    width: 0%;
    animation: 2s drupal forwards;
}

@keyframes drupal {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

.skills .skill .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skills .skill .trabajo {
    width: 0%;
    animation: 2s trabajo forwards;
}

@keyframes trabajo {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skills .skill .creatividad {
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0% {
        width: 0%;
    }

    100% {
        width: 99%;
    }
}

.skills .skill .dedicacion {
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.skills .skill .proyect {
    width: 0%;
    animation: 2s proyect forwards;
}

@keyframes proyect {
    0% {
        width: 0%;
    }

    100% {
        width: 94%;
    }
}

/* SECCION CURRICULUM */
.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid #252A2E;
}

.curriculum .fila .derecha {
    border-left: 2px solid #252A2E;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

/* SECCION PORTFOLIO */
.portfolio {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.portfolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    display: block;
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 152, .8), rgba(28, 182, 152, .8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/* SECCION CONTACTO */
.contacto {
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px) {
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .proyecto {
        max-width: 100%;
    }

    .portfolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }
}